<!DOCTYPE html>



  <TABLE WIDTH=100% BORDER=0 CELLPADDING=0 CELLSPACING=0>
<COL WIDTH=20%>
<COL WIDTH=60%>
<COL WIDTH=20%*>
<TR VALIGN=TOP>
  <TD WIDTH=20%>

  </TD>
  <TD  WIDTH=60%>
    <h1>{{gameName}}</h1>

  </TD>
  <TD WIDTH=20%>
                <form name="signInForm">
                  You are now playing as: <label id='activeUserLabel'>{{user}}</label><br>
                  <label class="floatLeft">User:</label>
                          <input type="text" ng-model="loginUser"  class="floatRight"/> <br>
                  <label class="floatLeft">Password:</label>
                  <input type="password" ng-model="loginPassword" value="" class="floatRight"/><br><br>
                  <input type='button' value='Log in' ng-click ='logIn()'/>
                  <input type='button' value='Log out' ng-click ='logOut()'/>
                  <input type='button' value='Register' ng-click='register()' />
                  <input type='reset'  value='Reset' />
            </form>
                </TD>
      </TR>
<TR VALIGN=TOP>
  <TD WIDTH=20%>
                      <ul class="toplinks">
                        <li class="toplink1">What is Bao    </li>
                        <li class="toplink2">Game rules   </li>
                        <li class="toplink3">Bao online</li>
                        <li class="toplink1">Contact</li>

                      </ul>
    <p>
      <form name="gameForm">
      <p>Available Boards</p>
      <select  name="boardTypes" size="5" style="width: 217px;" ng-model='selectedBoard'>
        <option ng-repeat='boardType in boardTypes'> {{boardType}}
      </select><br>
       <input type='button' value="Choose" ng-click ="chooseBoard()"/>
       <p>Available Games</p>
       <select  name="gameNames" size="5" style="width: 217px;" ng-model='selectedGame'>
         <option ng-repeat='aGameName in gameNames'> {{aGameName}}
       </select><br>
        <input type='button' value="Choose" ng-click ="chooseGame()"/>

      </form>

    </p>
  </TD>
  <TD WIDTH=60%>
    <table class="doNoSelect" align="center" id="board"  border="black">
      <tr><td colspan = "5" align="center">
         <!-- width="{{beanBagWidth}}" height="{{beanBagHeight}}" -->


        <canvas id="beanBag" width=500 height=35
                             ng-mousemove="doMove($event)"
                             ng-mousedown="doMouseDown($event)"
                             ng-mouseup="doMouseUp($event)" >
          <p>Sorry: Browser does not support Graphics Canvas</p></canvas>
      </td></tr>
      <tr>
        <td>
          <canvas id="hand:1" width="{{handWidth}}" height="{{handHeight}}"
                              ng-click="changePlayer()"></canvas>
        </td>
        <td>
          <canvas id="store:1" width="{{store[0].storeWidth}}"
                              height="{{store[0].storeHeight}}"
                              ng-click="doHouseClick($event)"></canvas>
        </td>
        <td><div align="center">
          <table border="black" ng-repeat="f in board.field">
            <tr ng-repeat="r in f.row">
              <td ng-repeat="h in r.house">
                <canvas  id="{{h.canvasId}}" width="{{houseWidth}}" height="{{houseHeight}}"
                         ng-click="doHouseClick($event)"
                         ng-dblclick="doHouseDblClick($event)"></canvas>
              </td></div>
            </tr>
          </table>
        </td>
        <td>
          <canvas id="store:0" width="{{store[0].storeWidth}}"
                              height="{{store[0].storeHeight}}"
                              ng-click="doHouseClick($event)"></canvas>
        </td>
        <td>
          <canvas id="hand:0" width="50" height="400"></canvas>
        </td>
      </tr>

    </table>
  </TD>
              <TD WIDTH=20%>
                <form name="inviteForm">
                <p>Who is online</p>
                <select  name="onlineUsers" size="14" style="width: 217px;" ng-model='selectedUser'>
                  <option ng-repeat='aUser in onUsers'> {{aUser}}
                </select><br>
                 <input type='button' value="Invite" ng-click ="invite()"/>
                 <input type='button' value="Block user" ng-click ="blockUser()" enabled="false"/>
                 <input type='button' value="Unblock user" ng-click ="unBlockUser()" enabled="false"/>

                <p >
                  You have invited: <br>
                <select  name="invitesMade" size="3" style="width: 217px;">
                  <option ng-repeat='aInvite in invitesMade'> {{aInvite}}
                </select>
                 </p>
                 <input type='button' value="Cancel Invite" ng-click ="cancelInvite()"/>

                <p >
                  You have an invitation from: <br>
                <select  name="invitesReceived" size="3" style="width: 217px;" ng-model='selectedHost'>
                  <option ng-repeat='invite in invitesReceived'> {{invite}}
                </select>
                 <input type='button' value="Accept and start" ng-click ="acceptInvite()"/>
                 <input type='button' value="Decline" ng-click ="declineInvite()"/>

                </p>
                </form>
              </TD>
</TR>
</TABLE>

<div align="center">
  <p>Log: {{log}}    // Server Log: {{serverlog}}  // X: {{mousePos.x}} // Y: {{mousePos.y}}<br>
  <form name="outputForm">
        <input type='text'  size='40' name="outputText" >

  </form><p>
  </div>
