<!DOCTYPE html>

<html ng-app='baoApp'>
  <head>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/angular.min.js"></script>
    <!--
    <script type="text/javascript" src="/AppController.js"></script>
    <script type="text/javascript" src="/controllers.js"></script>
  -->
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/graphics.js"></script>
    <script type="text/javascript" src="/users.js"></script>
    <link rel="stylesheet" href="/app.css" />
    <link href="/newCSS.css" rel="stylesheet" type="text/css">
    <title>Mancala Games</title>
  </head>

  <body ng-controller="AppController">
    <%- body %>
  </body>
</html>
